.account-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .account-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .account-form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #3d3c3c;
    border-radius: 3px;
  }
  
  .account-form button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #36893c;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .account-form button:hover {
    color: white;
    background-color: #41b549;
  }
  